* {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #33363A;
}

::-webkit-scrollbar-track {
  background-color: #2C2F33;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #202326;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}