.date-label {
  font-size: 1rem;
  color: #B3B5BD;
  letter-spacing: 2px;
  padding:0.2em 0.5em;
}

.example-name {
  font-size: 1.3rem;
  padding-top:  .2em;
  color: #EBEBEB;
}

.example-text {
  font-size: 1.3rem;
  margin-top: .2em;
  padding: .2em;
  background-color: #393D41;
  color: #EBEBEB;
  border-radius: 5px;
}

.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5em auto;
}

.date {
  display:flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em 2em;
}

.example {
  display:flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 5em 0;
}

.example-container {
  display:flex;
  align-items:center;
  padding: 2em 2em;
}

.example-text-container {
  padding-left: 1em;
  font-size: 1.3rem;
}

.profile-container {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
}

.profile {
  border-radius: 50%;
}

.type-dropdown {
  padding: 2em 2em;
}

.result-container {
  padding: 1em 2em;
  width: 100%;
}

.result {
  width: 100%;
  border-radius: 10px;
  color: #EBEBEB;
  background-color: #393D41;
  font-size: 1.2rem;
  padding:.6em;
  border-radius: 10px;
}

.blackout {
  /* for IE */
  box-shadow: 0 0 0 1000px rgba(0,0,0,.5);
  /* for real browsers */
  box-shadow: 0 0 0 200vmax rgba(0,0,0,.9);
  border-radius: 10px;
  z-index: 2;
  pointer-events: none;
  transition: box-shadow 1s ease;
}

.tutorial-1 {
  position: absolute;
  left: 5em;
  top: 18em;
}

.tutorial-2 {
  position: absolute;
  right: 5em;
  top: 25em;
}

.tutorial-3 {
  position: absolute;
  left: 5em;
  top: 38em;
}

.tutorial-4 {
  position: absolute;
  right: 5em;
  top: 38em;
}

.tutorial-5 {
  position: absolute;
  left: auto;
  right: auto;
  top: 30em;
}

@media (min-width:1300px) {
  .container {
    width:55%
  }
}

@media (min-width: 1000px) and (max-width: 1300px) {
  .container {
    width:65%
  }
}

@media(min-width: 800px) and (max-width:1000px){
  .container {
    width: 80%
  }
}

  
@media(max-width: 800px) {
  .container {
    width: 95%
  }
}

@media(max-width:600px) {
  .date {
    flex-direction: column;
  }

  .example {
    flex-direction: column;
    align-items: start;
    padding:2em 0;
  }

  .type-dropdown {
    width: 100%;
  }
  .container {
    margin-bottom: 10em;
  }
}

